fastapi>=0.111.0
uvicorn
pydantic>=2.0
psycopg2-binary
pydantic-settings
pgvector
supabase
pypdf
openai-whisper
openai
langchain>=0.2
langchain-text-splitters
langgraph>=0.1
tiktoken
httpx
python-telegram-bot
python-dotenv
pytz
boto3

# Dependências para OCR
pytesseract
pdf2image
Pillow